include README.rst
include LICENSE
include requirements.txt
recursive-include src/ckanext/toolbelt *.html *.json *.js *.less *.css *.mo *.yml *.yaml *.toml
recursive-include src/ckanext/toolbelt/migration *.ini *.py *.mako
